
body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #32465a;
    font-family: "proxima-nova", "Source Sans Pro", sans-serif;
    font-size: 1em;
    letter-spacing: 0.1px;
    color: #32465a;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
}

#frame {
    width: 100%;
    min-width: 360px;
    /* max-width: 1000px;     */
    height: 100%;
    min-height: 300px;
    /* max-height: 720px; */
    background: #E6EAEA;
}

#frame #sidepanel {
    float: left;
    min-width: 30%;
    max-width: 340px;
    height: 100%;
    background: #2c3e50;
    color: #f5f5f5;
    overflow: hidden;
    position: relative;
}
@media (max-width: 768px) {
    #frame #sidepanel {
        background-color: #10b81e;
    }
}